.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 50vh;
}

mat-form-field {
  margin-top: 30px;
}

.register-error {
  margin-top: 20px;
}

.element {
  margin-top: 30px;
}
